/* Formatação global */
/**/
/**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.principal.protanopia {
    filter: url(#protanopia);
}

.principal.deuteranopia {
    filter: url(#deuteranopia);
}

.principal.tritanopia {
    filter: url(#tritanopia);
}
/* Estilos do cabeçalho */
/**/
/**/

.pre-header {
    background-color: #cecece;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.logo2 img {
    width: 170px;
    height: auto;
    border: 1px solid #ff0000;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn-register {
    padding: 7px 16px;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.hr-styled {
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 0 5px;
}

/* Estilos do formulário de login */
/**/
/**/

input:focus {
    outline: none;
}

.registro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 50vh;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 40px;
}

.registro-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.registro-container form a {
    margin-bottom: 3px;
}

.logo img {
    margin-left: 16px;
    width: 40px;
    height: auto;
    margin-top: -5px;
    margin-bottom: -13px;
}

.input-container {
    position: relative;
    margin-bottom: 18px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    pointer-events: none
}

.password-toggle:hover {
    color: #ce0000;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid red;
    background-color: white;
    margin: 5px;
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: "x";
    position: absolute;
    left: 49%;
    top: 49%;
    font-size: 16px;
    font-weight: bold;
    color: red;
    transform: translate(-50%, -50%);
}

.remember-me-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#rememberMe {
    margin-left: 5px;
}

label {
    font-size: 14px;
    margin-left: 5px;
}

.forgot-password {
    margin-left: 70px;
    text-align: right;
}

.forgot-password a {
    color: #ff0000;
    text-decoration: none;
    text-align: right;
}

.submit-btn {
    padding: 10px 20px;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 300px;
    margin-top: 10px;
    border-radius: 19px;
    margin-bottom: 12px;
}

.submit-btn:hover {
    background-color: #5e1a1a;
}

.btn-home a {
    font-size: 16px;
    color: #ff0000;
    text-decoration: none;
}

.btn-home a:hover {
    border-bottom: 1px solid #ff0000;
}

.btn-home:hover {
    color: #5e1a1a;
}

.btn-home2 {
    margin-top: 5px;
}

.btn-home2 a {
    margin-top: 10px;
    font-size: 16px;
    color: #ff0000;
    text-decoration: none;
}

.btn-home2 a:hover {
    border-bottom: 1px solid #ff0000;
}

.btn-home2:hover {
    color: #5e1a1a;
}

/* Estilos do rodapé */
/**/
/**/

.footer {
    margin-top: auto;
    background-color: #cecece;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    height: 21px;
}

/* Estilos das fontes */
/**/
/**/

body {
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, sans-serif;
}

p,
a,
label,
button {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Estilos das imagens */
/**/
/**/

img {
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 45px;
    border-radius: 10%;
    margin-left: 37px;
}

/* Efeito hover para o input */
/**/
/**/

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover {
    border-color: #ce0000;
}

/* Mostrar senha */
/**/
/**/

.password-toggle.fa.fa-eye {
    position: absolute;
    margin-left: -28px;
    right: auto;
    top: 52%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ff0000;
    margin-right: -20px;
}

.password-toggle.fa.fa-eye-slash {
    position: absolute;
    margin-left: -29px;
    right: auto;
    top: 52%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ff0000;
    margin-right: -20px;
}

.footer-bottom {
    position: fixed;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;
}

.fa-eye:before {
    content: "\f06e";
}